{% extends "layout.html" %}

{% block title %}
    HOMEPAGE
{% endblock %}

{% block main %}
    <div>
        <h1 class="animate-charcter">Handle your Budget easily!!</h1>
    </div>
    <br>
    <br>
    <div class="card border-primary mb-3" style="max-width: 20rem; margin: 0 auto;">
        <div class="card-header"><h4>Feature</h4></div>
        <div class="card-body">
          <h4 class="card-title">Expense And Income</h4>
          <p class="card-text">Easily add your expenses and income according to categories</p>
        </div>
    </div>
    <div class="card border-primary mb-3" style="max-width: 20rem; margin: 0 auto;">
            <div class="card-header"><h4>Feature</h4></div>
            <div class="card-body">
              <h4 class="card-title">Category</h4>
              <p class="card-text">You can also add personalised categories</p>
            </div>
    </div>
    <img src="/static/pie chart.png" style="width:300px;height:300px;">
    <br>
    <br>
    <h2>Also Get Personalised Monthly Data Analysis!!</h2>
{% endblock %}
