{% extends "layout.html" %}

{% block title %}
    Add Income
{% endblock %}

{% block main %}
    <h1>ADD Income</h1>
    <br>
    <form action="/income" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="amount" name="amount" placeholder="Amount" type="number" min="0" required>
        </div>
        <div class="mb-3" style="width:220px; margin: 0 auto;">
            <select multiple="" class="form-select" id="category" name="category" required>
            {% for category in categories %}
                    <option value={{ category["category"] }}>{{ category["category"] }}</option>
                {% endfor %}
          </select>
        </div>
        <div class="form-group" style="width:220px; margin: 0 auto;">
            <input class="form-control mx-auto w-auto" id="date" name="date" placeholder="Date" type="date" required>
            <label for="note" class="form-label mt-4"></label>
            <textarea class="form-control" id="note" name="note" rows="3" placeholder="Add extra note..."></textarea>
        </div>
        <br>
        <button class="btn btn-primary" type="submit">Add Income</button>
    </form>
{% endblock %}
